# .envrc is used by direnv (if installed) to automatically load the development environment.

# Reload environment when these directories/files change.
watch_dir "modules/dev_shells/by_name"
watch_file "modules/dev_shells/default.nix"
watch_file "modules/dev_shells/scripts.nix"
watch_file "flake.nix"
watch_file "flake.lock"

# Load the Nix development shell.
USER_SHELL="$SHELL"
use flake . --impure
export SHELL="$USER_SHELL"

# Load the Zellij development layout.
if command -v zellij &>/dev/null && [ -z "$ZELLIJ" ]; then
	zellij --layout modules/dev_shells/by_name/default/layout.kdl
fi
