layout {
  default_tab_template {
    pane borderless=true size=1 {
      plugin location="zellij:tab-bar"
    }
    children
    pane borderless=true size=2 {
      plugin location="zellij:status-bar"
    }
  }
  tab name="background"
  tab focus=true name="editor" {
    pane split_direction="vertical" {
      pane size="25%" {
        pane {
          args "60" "git -c color.status=always status --short"
          command "repeat"
          name "git status"
        }
        pane name="lint"
        pane {
          command "bonsai"
          name "zen"
          size "40%"
        }
      }
      pane {
        pane {
          command "nvim"
          focus true
          name "editor"
        }
        pane size="20%" name="workspace"
      }
    }
  }
}
