layout {
  default_tab_template {
    pane borderless=true size=1 {
      plugin location="zellij:tab-bar"
    }
    children
    pane borderless=true size=2 {
      plugin location="zellij:status-bar"
    }
  }
  tab name="sessions" {
    pane split_direction="vertical" {
      pane borderless=true command="bonsai"
      pane size="70%" {
        pane focus=true name="session-manager" size="60%" {
          plugin location="zellij:session-manager"
        }
        pane name="workspace"
      }
      pane borderless=true command="bonsai"
    }
  }
}
