---
name: CI

on:
  pull_request:
    branches: [ "*" ]
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 06 * * MON'
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  NIXPKGS_ALLOW_UNFREE: 1

jobs:
  build-home-configuration:
    name: Build Home Manager configuration
    strategy:
      fail-fast: false
      matrix:
        configuration: [default, work]
        os: [macos-latest, ubuntu-latest, ubuntu-24.04-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Free disk space
        if: runner.os == 'Linux'
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_dotnet: true
          remove_haskell: true
          remove_packages: "azure-cli microsoft-edge-stable google-chrome-stable firefox postgresql* *llvm* mysql*"
          testing: false
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: Build ${{ matrix.configuration }} configuration
        env:
          NIX_SHOW_STATS_PATH: nix_eval_stats.json
        run: nix build --impure .#homeConfigurations.${{ matrix.configuration }}.activationPackage
      - name: Upload Nix evaluation statistics
        uses: actions/upload-artifact@v4
        with:
          name: Nix evaluation statistics
          path: nix_eval_stats.json
  build-nixos-configuration:
    name: Build NixOS configuration
    strategy:
      fail-fast: false
      matrix:
        include:
          - configuration: ares
            runs-on: ubuntu-latest
          - configuration: athena
            runs-on: ubuntu-latest
          - configuration: hestia
            runs-on: ubuntu-24.04-arm
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Free disk space
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_dotnet: true
          remove_haskell: true
          remove_packages: "azure-cli microsoft-edge-stable google-chrome-stable firefox postgresql* *llvm* mysql*"
          testing: false
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: Build ${{ matrix.configuration }} configuration
        env:
          NIX_SHOW_STATS_PATH: nix_eval_stats.json
        run: nix build --impure .#nixosConfigurations.${{ matrix.configuration }}.config.system.build.toplevel
      - name: Upload Nix evaluation statistics
        uses: actions/upload-artifact@v4
        with:
          name: Nix evaluation statistics
          path: nix_eval_stats.json
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/flake-checker-action@v12
      - name: Check flake
        env:
          NIX_SHOW_STATS_PATH: nix_eval_stats.json
        run: nix flake check --impure
      - name: Upload Nix evaluation statistics
        uses: actions/upload-artifact@v4
        with:
          name: Nix evaluation statistics
          path: nix_eval_stats.json
...
